body{
  font-family: Arial;
  background-color: #9dc5bb;
}
main{

  display: block;


}
div{
  position:relative;
  left:300px;


}
nav{
    position:fixed;
    display:flex;
    flex-direction: column;
    min-width: 290px;   top: 0px;   left: 0px;   width: 300px;
    min-height: 100%;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);

}
header{
    font-weight: bold;
    font-size: 1.3em;

}
@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
