@media(max-width: 815px) {
  body {
        background-color: lightblue;
    }
}

body{
  min-width: 290px;
  color: #4d4e53;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #9dc5bb;
}
main{

  display: block;


}
div{
  position:relative;
  left:300px;
}
nav{
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);

}
header{
    font-weight: bold;
    font-size: 1.3em;

}

